.hero {
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-bottom: 9rem;
}
.hero__container {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.hero__title {
  text-align: center;
  color: #030303;
  font-size: 5.6rem;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  font-family: "Plus Jakarta Sans";
  margin-bottom: 2.3rem;
  width: 751px;
}
.hero__text {
  color: #7a746e;
  font-family: "Plus Jakarta Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  width: 730px;
  margin-bottom: 8rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  min-height: 364px;
  width: 100%;
}
.cards {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 2.4rem;
  position: relative;
}
.hero__card__title {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 210px;
  position: absolute;
  bottom: 24px;
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  background-image: url("../../img/spatial\ forms1.svg");
  background-position: top 24px right 24px;
  background-repeat: no-repeat;
  background-color: #755cde;
}

.div2 {
  grid-column-start: 3;
  background-image: url("../../img/spatial\ forms2.svg");
  background-position: top 24px right 24px;
  background-repeat: no-repeat;
  background-color: #f6a560;
}

.div3 {
  grid-column-start: 4;
  background-image: url("../../img/spatial\ forms2.svg");
  background-position: top 24px right 24px;
  background-repeat: no-repeat;
  background-color: #f39e9e;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
  background-image: url("../../img/spatial\ forms2.svg");
  background-position: top 24px right 24px;
  background-repeat: no-repeat;
  background-color: #61c4b7;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
  background-image: url("../../img/spatial\ forms2.svg");
  background-position: top 24px right 24px;
  background-repeat: no-repeat;
  background-color: #eb7565;
}

.div6 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 2;
  background-image: url("../../img/spatial\ forms2.svg");
  background-position: top 24px right 24px;
  background-repeat: no-repeat;
  background-color: #552049;
}

.hero {
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-bottom: 9rem;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title {
  text-align: center;
  color: #030303;
  font-size: 5.6rem;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  font-family: "Plus Jakarta Sans";
  margin-bottom: 2.3rem;
  width: 751px;
}
.hero__text {
  color: #7a746e;
  font-family: "Plus Jakarta Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  width: 730px;
}
.consultant {
  margin-bottom: 88px;
}

.consultant-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 125px;
}

.consultant__information {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.consultant__title {
  color: #030303;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.consultant__description {
  color: #7a746e;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 540px;
}
.consultant-btn {
  border: none;
  padding: 1.4rem 4.5rem;
  background-color: #f39e9e;
  border-radius: 28px;
  color: #fff7f0;
  font-family: "Plus Jakarta Sans" sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: normal;
  height: 56px;
  line-height: 0.5;
  width: 228px;
  &:hover {
    color: #fff;
    background-color: #f6a560;
  }
}

.work {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8.8rem;
}

.work__title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: #030303;
  text-align: center;
  margin-bottom: 5.6rem;
}

.work__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5.6rem;
  gap: 3rem;

  & img {
    border-radius: 8px;
  }
}

.work-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030303;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;

    &:hover {
      background-color: #755cde;
    }
  }
}
